body{
    font-family: 'Oxygen', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Varela Round', sans-serif;
    margin: 0px;
}
h1{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    margin: 0%;
}
.pink-color{
    color: rgb(255, 72, 231);
}
section{
    display: flex;
}
.top-banner-width{
    width: 50%;
}
.top-banner-width img{
    width: 100%;
    padding-right: 10%;
}
#top-text{
    margin: 10% 0% 5% 15%;
}
.order-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(251, 122, 255),rgb(203, 15, 250));
    padding: 20px 45px;
    border-radius: 40px;
    color: white;
    font-weight: 50;
    font-size: 30px;
}
.top-banner{
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-size: 100%;
}
.top-p{
    font-size: 25px;
}
#am-image img{
    width: 50%;
    padding-left: 30%;
}
.about-banner{
    background-image: url(images/shapes/Frame\ 59.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 100px;
}
.my-rec{
    text-align: center;
    padding: 0px 500px;
}
.recipies{
    margin-top: 100px;
    display: initial;
}
#recipie-margin{
    margin-top: 100px;
}
.food-info{
    margin-left: 5%;
    box-shadow: 10px 10px 40px grey;
    border-radius: 30px;
    width: 25%;
    padding:10px 10px 15px 10px
}
.food-info img{
    width: 100%;
}
.foods{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 150px;
}